@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');


*{
   
    font-family: 'Roboto', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.content{
    display: flex;
    flex-direction: column;

}
.header{
    padding: 0 100px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color:#F9FAF8;
    
}

.footer{
    display: flex;
    align-items: center;
    background-color: #1f2937;
    color:#F9FAF8;
    justify-content: center;
}
.the{
    
    font-weight: 700;
    font-size: 24px;
}
ul{
    
    display: flex;
    gap: 16px;
    list-style-type: none;
}

a{
    font-size: 18px;
    text-decoration: none;
    color: #E5E7Eb;
    font-weight: 400;
}

.hero{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height:400px;
}

.subhero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

    
}

.main{
    color: #F9FAF8;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 32px;
}

.small{
    color:#E5E7Eb;
    max-width: 500px;
    
}

.btn1{

    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 8px 48px;
    margin-top: 25px;
    font-size: 16px;
}

.img{
    height: 200px;
    width: 500px;   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: #F9FAF8;
}

.leftside{
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
}

.testa{
    text-align: center;
    background-color: #E5E7Eb;
    font-size: 36px;
    padding: 75px 100px;
}

.author{
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 325px;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign{
    border-radius: 0.25rem;
    color: white;
    border:solid white;
    background-color: #3882F6;
    cursor: pointer;
    padding: 4px 16px;
}
.box{
    display: flex;
    padding:32px;
    justify-content: flex-start;
    align-items: center;
    background-color: #3882F6;
    border-radius: 0.25rem;
    margin: 24px;
}

.title{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 32px;
    

}
.imgg{
    height: 100px;
    width: 100px;
    border:solid #3882F6;
    border-radius: 0.625rem;
    margin-bottom: 16px;
}
.flo{
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info{
    text-align: center;
    padding: 24px 100px ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 75px 100px;
  }
  .flo1,.flo2,.flo3,.flo4{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.lefti{
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.bigi{
    padding: 0;
    margin: 0;
    font-weight: 700;
}

.mini{
    margin: 0;
    font-weight: 100;
}
