body{
    padding: 0;
    margin: 0;


}
.header{
    display: flex;
    align-items: center;
    background-color: #1f2937;
    color:#F9FAF8;
    
}
.the{
    
    font-weight: 900;
    font-size: 24px;
}
ul{
    
    display: flex;
    gap: 16px;
    list-style-type: none;
}

a{
    font-size: 18px;
    text-decoration: none;
    color: #E5E7Eb;
    font-weight: 300;
}

.hero{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    color: #F9FAF8;
    font-weight: 700;
    font-size: 48px;
}

.small{
    color:#E5E7Eb;
}

.btn1{
    background-color: #3882F6;
    border: none;
}

.img{
    background-color: grey;
}

.leftside{
    display: flex;
    flex-direction: column;
}
